<table border="0" style="width:100%">
    <tr>
        <td rowspan="3" style="padding: 4px 0;width: 250px;vertical-align: top;text-align: center;">Image</td>
        <td style='border-bottom: 1px solid #000;'><strong>Title goes here</strong></td>
    </tr>
    <tr>
        <td style="padding: 7px 0;">Author goes here</td>
    </tr>
    <tr>
        <td valign="top">
            Copy goes here - sit amet, consectetur adipiscing elit.
            Etiam in urna urna, tempor volutpat dui. Sed porta viverra neque sit amet lobortis.
            Cras fermentum, turpis lobortis molestie suscipit, dolor metus feugiat libero,
            hendrerit ultrices nulla nisi nec dui. Vestibulum non augue nec lacus fermentum
            tristique nec id sem. Nulla cursus quam sed eros sodales hendrerit. Donec rutrum,
            orci porttitor rhoncus sagittis, neque nisi interdum dolor, id dignissim
            augue diam ac ligula...
            <br /><br />
            End of the first part
        </td>
    </tr>
</table>

<p><span style='color:red'>If your article is longer than the first part, delete this red text and insert a page break, then paste the remaining text into the field below.</span></p>

<table border="0" style="width:100%">
    <tr>
        <td style="width: 250px;">&nbsp</td>
        <td valign="top">Continue here...</td>
    </tr>
</table>