AddDefaultCharset UTF-8

<IfModule mod_dir.c>
    Directoryindex index.php
</IfModule>

ErrorDocument 404 /system/404.html
ErrorDocument 403 /system/403.html

Options -Indexes +FollowSymLinks

<IfModule mod_php5.c>
    php_flag register_globals off
    php_flag magic_quotes_gpc off
    php_flag output_buffering off
    php_flag display_errors off
    php_flag zlib.output_compression off
    php_flag log_errors on
    php_flag session.auto_start off

    php_value output_handler " "
    php_value zlib.output_compression_level 5
    php_value post_max_size 256M
    php_value upload_max_filesize 256M
    php_value error_reporting E_ALL
    php_value pcre.backtrack_limit 900000
</IfModule>

<files "config.xml">
    Order Deny,Allow
    Deny From All
</files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^thumb/?$                       thumbnail.php [L,QSA]
    RewriteRule ^system/js/([a-z0-9_.,%-]+)/?$  index.php?mdl=default&action=htcache&type=js&files=$1 [L,QSA]
    RewriteRule ^system/css/([a-z0-9_.,%-]+)/?$ index.php?mdl=default&action=htcache&type=css&files=$1 [L,QSA]
    RewriteRule ^open/([a-zA-Z0-9%-]+)/?$       index.php?mdl=$1 [L,QSA]

    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [L]
    RewriteRule ^.*$ /index.php?mdl=pages [L,QSA]
</IfModule>

<IfModule mod_setenvif.c>
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch SV1; !no_gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain text/html text/xml application/xhtml+xml image/x-icon
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript text/x-js text/ecmascript application/ecmascript text/vbscript text/fluffscript
    AddOutputFilterByType DEFLATE image/svg+xml application/x-font-ttf application/x-font font/opentype font/otf font/ttf application/x-font-truetype application/x-font-opentype application/vnd.ms-fontobject application/vnd.oasis.opendocument.formula-template
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch \.(css|js)$>
        Header append Vary User-Agent
        Header append Vary Accept-Encoding
        Header append Cache-Control private
    </FilesMatch>

    <FilesMatch \.(bmp|png|gif|jpe?g|ico|flv|wmv|asf|asx|wma|wax|wmx|wm|swf|pdf|doc|rtf|xls|ppt|eot|ttf|otf|svg)$>
        Header append Cache-Control public
    </FilesMatch>

    <FilesMatch \.(js|css|bmp|png|gif|jpe?g|ico|flv|wmv|asf|asx|wma|wax|wmx|wm|swf|pdf|doc|rtf|xls|ppt)$>
        Header unset Last-Modified
        FileETag MTime
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On

    <FilesMatch \.(html|xhtml|xml|shtml|phtml|php)$>
        ExpiresDefault "access plus 120 seconds"
    </FilesMatch>

    ExpiresByType text/html A120
    ExpiresByType text/xml A120
    ExpiresByType application/xhtml+xml A120
    ExpiresByType text/plain A120

    <FilesMatch \.css$>
        ExpiresDefault "access plus 10 years"
    </FilesMatch>

    ExpiresByType text/css A315360000

    <FilesMatch \.js$>
        ExpiresDefault "access plus 10 years"
    </FilesMatch>

    ExpiresByType text/javascript A315360000
    ExpiresByType application/javascript A315360000
    ExpiresByType application/x-javascript A315360000
    ExpiresByType text/x-js A315360000
    ExpiresByType text/ecmascript A315360000
    ExpiresByType application/ecmascript A315360000
    ExpiresByType text/vbscript A315360000
    ExpiresByType text/fluffscript A315360000

    <FilesMatch \.(bmp|png|gif|jpe?g|ico)$>
        ExpiresDefault "access plus 10 years"
    </FilesMatch>

    ExpiresByType image/gif A315360000
    ExpiresByType image/png A315360000
    ExpiresByType image/jpeg A315360000
    ExpiresByType image/x-icon A315360000
    ExpiresByType image/bmp A315360000

    <FilesMatch \.(eot|ttf|otf|svg)$>
        ExpiresDefault "access plus 10 years"
    </FilesMatch>

    ExpiresByType application/x-font-opentype A315360000
    ExpiresByType application/x-font-truetype A315360000
    ExpiresByType application/x-font-ttf A315360000
    ExpiresByType application/x-font A315360000
    ExpiresByType font/opentype A315360000
    ExpiresByType font/otf A315360000
    ExpiresByType application/vnd.oasis.opendocument.formula-template A315360000
    ExpiresByType image/svg+xml A315360000
    ExpiresByType application/vnd.ms-fontobject A315360000
    ExpiresByType font/woff A315360000

    <FilesMatch \.(flv|wmv|asf|asx|wma|wax|wmx|wm)$>
        ExpiresDefault "access plus 10 years"
    </FilesMatch>

    ExpiresByType video/x-flv A315360000
    ExpiresByType video/x-ms-wmv A315360000
    ExpiresByType video/x-ms-asf A315360000
    ExpiresByType video/x-ms-asx A315360000
    ExpiresByType video/x-ms-wma A315360000
    ExpiresByType video/x-ms-wax A315360000
    ExpiresByType video/x-ms-wmx A315360000
    ExpiresByType video/x-ms-wm A315360000

    <FilesMatch \.(swf|pdf|doc|rtf|xls|ppt)$>
        ExpiresDefault "access plus 10 years"
    </FilesMatch>

    ExpiresByType application/x-shockwave-flash A315360000
    ExpiresByType application/pdf A315360000
    ExpiresByType application/msword A315360000
    ExpiresByType application/rtf A315360000
    ExpiresByType application/vnd.ms-excel A315360000
    ExpiresByType application/vnd.ms-powerpoint A315360000
</IfModule>

AddHandler php5-script .php
