<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <localhost>
    <cms>
      <default>
        <action>default</action>
        <language>en</language>
        <email>somebody@mailinator.com</email>
      </default>
      <system>
        <timelimit>30</timelimit>
        <timezone>Europe/Minsk</timezone>
        <time_humanize>1</time_humanize>
      </system>
      <domains>
        <disabled>1</disabled>
        <img>
          <path>/htdocs/images</path>
          <name>i</name>
        </img>
        <js>
          <path>/system/js</path>
          <name>js</name>
        </js>
        <css>
          <path>/system/css</path>
        </css>
      </domains>
      <uglify>
        <disabled>1</disabled>
        <jquery>
          <version>1.6.1</version>
        </jquery>
      </uglify>
      <cache>
        <disabled>1</disabled>
        <frontend>
          <lifetime>360</lifetime>
          <automatic_serialization>0</automatic_serialization>
        </frontend>
        <backend>
          <file_name_prefix>cache</file_name_prefix>
        </backend>
      </cache>
      <security>
        <auth>
          <level>time</level>
          <lock_time>60</lock_time>
        </auth>
      </security>
    </cms>
    <thirdparty>
      <facebook>
        <disabled>1</disabled>
        <synchronize>
          <disabled>1</disabled>
        </synchronize>
        <apikey>873262672719939</apikey>
        <secret>7f75698528941482cfcfec6e7e401b91</secret>
      </facebook>
    </thirdparty>
    <modules>
      <analytics>
        <disabled>1</disabled>
        <id></id>
      </analytics>
      <gallery>
        <disabled>0</disabled>
        <bulk_max>10</bulk_max>
        <image>jpeg,jpg,gif,png</image>
        <movie>flv,mov,swf,mp4</movie>
        <archive>bzip,zip,tar,rar,gz,7z</archive>
        <deny>exe,php,sh,pl,py,cgi,bat,bin,cmd</deny>
        <facebook>
          <pages>10denzatest</pages>
        </facebook>
      </gallery>
      <news>
        <disabled>0</disabled>
        <layout>default</layout>
        <tpl>default</tpl>
        <tags>news</tags>
        <parents>news</parents>
      </news>
      <update>
        <disabled>0</disabled>
        <address>http://cms.2ka.by/updates/</address>
        <type>beta</type>
        <period>604800</period>
      </update>
      <static>
        <disabled>0</disabled>
      </static>
      <admins>
        <disabled>0</disabled>
      </admins>
      <language>
        <disabled>0</disabled>
      </language>
      <settings>
        <disabled>0</disabled>
      </settings>
      <poll>
        <choices>7</choices>
      </poll>
    </modules>
    <database>
      <adapter>Mysqli</adapter>
      <prefix>cms</prefix>
      <params>
        <dbname>db125937_10d</dbname>
        <username>root</username>
        <charset>utf8</charset>
        <password>root</password>
        <host>localhost</host>
        <port>3306</port>
      </params>
    </database>
  </localhost>
  <production zf:extends="localhost">
    <cms>
      <default>
        <action>default</action>
        <language>en</language>
        <email>kkamkou@gmail.com</email>
      </default>
      <system>
        <timelimit>30</timelimit>
        <timezone>Africa/Maseru</timezone>
        <time_humanize>1</time_humanize>
      </system>
      <domains>
        <disabled>0</disabled>
        <img>
          <path>/htdocs/images</path>
          <name>i</name>
        </img>
        <js>
          <path>/system/js</path>
          <name>js</name>
        </js>
        <css>
          <path>/system/css</path>
        </css>
      </domains>
      <uglify>
        <disabled>1</disabled>
        <jquery>
          <version>1.6.1</version>
        </jquery>
      </uglify>
      <cache>
        <disabled>0</disabled>
        <frontend>
          <lifetime>360</lifetime>
          <automatic_serialization>0</automatic_serialization>
        </frontend>
        <backend>
          <file_name_prefix>cache</file_name_prefix>
        </backend>
      </cache>
      <security>
        <auth>
          <level>time</level>
          <lock_time>60</lock_time>
        </auth>
      </security>
    </cms>
    <thirdparty>
      <facebook>
        <disabled>1</disabled>
        <synchronize>
          <disabled>0</disabled>
        </synchronize>
        <apikey>873262672719939</apikey>
        <secret>7f75698528941482cfcfec6e7e401b91</secret>
      </facebook>
    </thirdparty>
    <modules>
      <analytics>
        <disabled>0</disabled>
        <id>UA-24986054-1</id>
      </analytics>
      <gallery>
        <disabled>0</disabled>
        <bulk_max>10</bulk_max>
        <image>jpeg,jpg,gif,png</image>
        <movie>flv,mov,swf,mp4</movie>
        <archive>bzip,zip,tar,rar,gz,7z</archive>
        <deny>exe,php,sh,pl,py,cgi,bat,bin,cmd</deny>
        <facebook>
          <pages>10denzatest</pages>
        </facebook>
      </gallery>
      <news>
        <disabled>0</disabled>
        <layout>default</layout>
        <tpl>default</tpl>
        <tags>news</tags>
        <parents>news</parents>
      </news>
      <update>
        <disabled>0</disabled>
        <address>http://cms.2ka.by/updates/</address>
        <type>beta</type>
        <period>604800</period>
      </update>
      <static>
        <disabled>0</disabled>
      </static>
      <admins>
        <disabled>0</disabled>
      </admins>
      <language>
        <disabled>0</disabled>
      </language>
      <settings>
        <disabled>0</disabled>
      </settings>
      <poll>
        <choices>7</choices>
      </poll>
    </modules>
    <database>
      <adapter>Mysqli</adapter>
      <prefix>cms</prefix>
      <params>
        <dbname>db125937_10d</dbname>
        <username>root</username>
        <charset>utf8</charset>
        <password>root</password>
        <host>localhost</host>
        <port>3306</port>
      </params>
    </database>
  </production>
</zend-config>
