body{ background: #E56131 url('bg.jpg') 0 0 no-repeat; color: #FFF; font: 1em Helvetica, Arial, Tahoma; }
table td{ font: 1em Helvetica, Arial, Tahoma; }

a{ color: #c643b5; text-decoration: none; }

#site{ width: 1010px; margin: 0 auto; }

#header{ background-color: #FFF; height: 75px; }
#header ul{ list-style: none; }
#header li{ float: left; height: 65px; }
#header li.code{ width: 372px; background-color: #000; background-position: -428px 0; margin-right: 1px; }
#header li.social{ width: 243px; margin-right: 1px; background-color: #202020; }
#header li.social a.fb, #header li.social a.tw{ float: left; margin-top: 17px; margin-left: 4px; }
#header li.social a.fb img, #header li.social a.tw img{ width: 32px; height: 32px; }
#header li.social a.fb{ margin-left: 34px; }
#header li.social div.addthis_toolbox{ margin-top: 17px; margin-left: 104px; }
#header li.member{ width: 382px; background-color: #000; }
#header li.member p{ margin-top: 16px; }
#header li.member span{ width: 173px; height: 13px; background-position: 0 -306px; float: left; margin-left: 40px; margin-top: 10px; }
#header li.member a{ width: 107px; height: 32px; background-position: -427px -77px; float: right; margin-right: 34px; }

#inner, #footer, #main{ width: 979px; margin-left: 29px; position: relative; }
#inner{ background: url('bg-red.png') 0 0 no-repeat; }
#inner-first{ height: 31px;  }
#inner-second{ height: 37px; border-bottom: 12px solid #FFF; }
#inner-white{ height: 198px; background-color: #FFF; }

#logo-box{ background-color: #000; height: 174px; border-bottom: 4px solid #c643b5; width: 999px; }
#logo-box div.logo{ float: left; }
#logo-box div.logo a{ display: block; width: 352px; height: 114px; margin-top: 56px; }
#logo-box div.navigation{ float: right; margin-top: 36px; height: 125px; background-color: #c643b5; border: 13px solid #FFF; border-right: 0; border-bottom: 0; width: 588px; position: relative; }
#logo-box div.navigation ul{ list-style: none; margin-top: 50px; margin-left: 5px; }
#logo-box div.navigation li{ float: left; margin: 0 4px; padding: 10px; }
#logo-box div.navigation li a{ color: #C643B5; display: block; }
#logo-box div.navigation li.story a{ width: 60px; height: 20px; background-position: 0 -170px; }
#logo-box div.navigation li.story a:hover, #logo-box div.navigation li.story a.active{ background-position: -407px -170px; }
#logo-box div.navigation li.propaganda a{ width: 131px; height: 20px; background-position: 0 -195px; }
#logo-box div.navigation li.propaganda a:hover, #logo-box div.navigation li.propaganda a.active{ background-position: -407px -195px; }
#logo-box div.navigation li.contact a{ width: 99px; height: 16px; background-position: 0 -225px; }
#logo-box div.navigation li.contact a:hover, #logo-box div.navigation li.contact a.active{ background-position: -407px -225px; }
#logo-box div.navigation li.gallery a{ width: 78px; height: 20px; background-position: 0 -277px; }
#logo-box div.navigation li.gallery a:hover, #logo-box div.navigation li.gallery a.active{ background-position: -407px -277px; }
#logo-box div.navigation li.next a{ width: 75px; height: 16px; background-position: 0 -252px; }
#logo-box div.navigation li.next a:hover, #logo-box div.navigation li.next a.active{ background-position: -407px -252px; }
#logo-box div.navigation li.last{ margin-right: 0; }
#logo-box div.navigation div.left{ background-position: -786px -414px; width: 14px; height: 186px; top: -48px; left: -17px; }
#logo-box div.navigation div.bottom{ background-position: 0 -562px; width: 307px; height: 20px; bottom: -14px; left: -20px; }
#logo-box div.navigation div.right{ background-position: 0 -534px; width: 277px; height: 20px; top: -5px; right: 2px; }

#main { }
#main div.box-corner{ top: -31px; }
#main div.noise-right{ background: url('bg-right-line.png') 0 0 repeat-y; width: 36px; height: 100%; right: -20px; top: 0; }
#main div.noise-top-left{ background-position: 0 -586px; width: 533px; height: 20px; top: -5px; left: -6px; }
#main div.noise-top-right{ background-position: 0 -517px; width: 360px; height: 1px; top: -1px; right: -15px; overflow: hidden; }
#content-box{ background-color: #000; position: relative; left: -32px; width: 999px; border-right: 12px solid #FFF; }
#content{ padding: 50px; background: url('bg-content.png') 8px 17px no-repeat; }

#white-area{ background-color: #FFF; color: #000; padding: 50px; text-shadow: 0 0 1px #FFF; position: relative; border: 1px solid #848484; }
#white-area div.e-pagination div{ padding-right: 60px; }
#white-area div.e-pagination p{ float: right; }

span.top-left-symbol, span.top-right-symbol,
span.bottom-right-symbol, span.bottom-left-symbol{ width: 7px; height: 5px; border-width: 0; border-style: solid; border-color: #020202; overflow: hidden; position: absolute; }
span.top-left-symbol{ border-left-width: 1px; border-top-width: 1px; top: 25px; left: 25px; }
span.top-right-symbol{ border-right-width: 1px; border-top-width: 1px; top: 25px; right: 25px; }
span.bottom-left-symbol{ border-left-width: 1px; border-bottom-width: 1px; bottom: 25px; left: 25px; }
span.bottom-right-symbol{ border-right-width: 1px; border-bottom-width: 1px; bottom: 25px; right: 25px; }

#homepage{ position: relative; }
#homepage p{ padding: 15px; margin-bottom: 40px!important; }
#homepage ul{ width: 907px; height: 922px; background: url('bg-homepage.png') 0 0 no-repeat; list-style: none; position: relative; }
#homepage li{ position: absolute; }
#homepage li a{ display: block; }
#homepage li.wear{ width: 300px; height: 414px; top: 74px; left: 32px; }
#homepage li.adorn{ width: 229px; height: 229px; top: 20px; left: 344px; }
#homepage li.read{ width: 140px; height: 140px; top: 103px; left: 588px; }
#homepage li.collect{ width: 227px; height: 227px; top: 260px; left: 344px; }
#homepage li.shade{ width: 229px; height: 347px; top: 259px; left: 586px; }
#homepage li.carry{ width: 233px; height: 232px; top: 502px; left: 95px; }
#homepage li.misk{ width: 106px; height: 107px; top: 501px; left: 343px; }
#homepage li.listen{ width: 109px; height: 107px; top: 501px; left: 463px; }
#homepage li.amuse{ width: 522px; height: 231px; top: 622px; left: 342px; }

#ecommerce{  }
#ecommerce ul{ list-style: none; }
#ecommerce li{ float: left; }
#ecommerce li.preview{ position: relative; padding: 3px; width: 400px; margin-right: 20px; }
#ecommerce li.preview img{ width: 400px; }
#ecommerce li.content{ width: 420px; overflow: hidden; }
#ecommerce span.top-left-symbol{ top: 0; left: 0; }
#ecommerce span.top-right-symbol{ top: 0; right: 0; }
#ecommerce span.bottom-left-symbol{ bottom: 4px; left: 0; right: auto; }
#ecommerce span.bottom-right-symbol{ bottom: 4px; right: 0; left: auto; }

#ecommerce #edescr{ padding-left: 5px; }
#ecommerce #edescr h2{ color: #c643b5; font-weight: bold; display: block; font-size: 1.5em; margin: 15px 0; }

#gallery{ padding: 50px 0 50px 0; position: relative; }
#gallery ul{ list-style-type: none; margin: 0 auto; width: 780px; }
#gallery li{ float: left; margin: 25px; }
#gallery li img{ width: 200px; height: 200px; padding: 2px; border: 1px solid #000; }
#gallery li strong{ display: block; }
#gallery li span{ display: block; }

#blog{ position: relative; }
#blog hr.blog{ background-color: #C649B6; border: 1px solid #BE2DAB; height: 4px; overflow: hidden; margin: 20px 0; }
#blog div.entry{ padding-top: 20px; }
#blog div.entries{ padding: 60px; }
#blog div.entries div.first{ padding-top: 0; }

#page{ padding: 50px; position: relative; }

#page-nav{  }
#page-nav p{ float: right; width: 180px; margin-top: 15px; margin-right: 50px; }
#page-nav a{ color: #FFF; }
#page-nav strong{ float: right; font-size: 140%; font-weight: normal; margin-top: 1px; }

#signup{ width: 99%; border: 1px solid #ffffff; padding: 3px; }
#signup td.first{ width: 49%; padding: 30px; background-color: #c644b3; color: #000000; }
#signup td.first p{ padding: 10px 0 0 30px; }
#signup td.first div{ width: 230px; margin: 0 auto; }
#signup td.second{ padding: 30px; }
#signup td.second table{ margin: 0 auto; }
#signup td.second table td{ padding: 0 2px; border: 1px solid #737373; }
#signup td td.text { border-right: 0!important; }
#signup td td.text input{ background-color: #3f3f3f; border: none; padding: 7px 10px; width: 170px; color: #FFF; font-size: 1em; }
#signup td td.submit input{ width: 58px; height: 32px; background: url("send.png") 0 0 no-repeat; border: 0; cursor: pointer; }
#signup td td.submit input:hover{ background-position: 0 -32px; }
#signup td td.submit kbd{ display: none; }

#rroll{ width: 400px; margin: 0 auto; border: 1px solid #FFF; padding: 3px; }
#rroll td{ padding: 20px; background-color: #C644B3; }
#rroll p{ text-align: center; color: #000; font-weight: bold; margin-top: 10px; }
#rroll a{ margin: 0 auto; }

#footer div.box-corner{ top: 18px; }
#footer-line{ height: 120px; background: #FFF url('bg-red-bottom.jpg') 100% 0 no-repeat; border-bottom: 12px solid #FFF; border-top: 14px solid #FFF; }
#footer-box{ height: 83px; width: 999px; background-color: #000; top: 50px; }
#footer-box ul{ list-style: none; margin-top: 34px; margin-left: 39px; }
#footer-box ul a{ color: #FFF; display: block; }
#footer-box ul a small{ margin: 0 10px; vertical-align: top; }
#footer-box li{ float: left; margin-right: 20px; }
#footer-box li.address-label a{ background-position: -240px -169px; width: 98px; height: 17px; }
#footer-box li.address a{ margin-top: 1px; }
#footer-box li.phone-label a{ background-position: -240px -199px; width: 75px; height: 21px; }
#footer-box li.phone a{ margin-top: 1px; }
#footer-box li.email-label a{ background-position: -240px -229px; width: 61px; height: 17px; }
#footer-box li.email a{ margin-top: 1px; }

div.noise{ position: absolute; z-index: 99; }
div.topshadow{ background: url('bg-shadow-hor.png') 0 0 repeat-x; height: 24px; }
div.shifted{ position: absolute; left: -32px; top: 42px; }
div.box-corner{ background-position: 0 -128px; width: 32px; height: 32px; position: absolute; top: 10px; left: -32px; }

#black-holder{ width: 800px; }
div.googleMapHolder{ width: 508px; margin-left: 20px; height: 500px; }

/* E-Pager */
.e-pagination{  }
.e-pagination div, #page-nav{ height: 52px; background-color: #c643b5; color: #FFF; }
.e-pagination p{ width: 230px; margin: 0 auto; text-align: center; padding-top: 16px; }
.e-pagination p b{ float: left; font-size: 180%; margin-top: 1px; }
.e-pagination p a{ float: left; margin: 0 20px; }

/* Typografy */
#content p{ margin-bottom: 15px; line-height: 1.3em; }
#content td{ vertical-align: top; }

/* Headers */
h1{ color: #c643b5; font-size: 210%; text-shadow: 1px 1px 1px #000; text-transform: lowercase; margin-top: 20px; margin-bottom: 25px; }
h1 span{ color: #FFF; }
h1 small{ font-size: 120%; margin-right: 15px; float: left; color: #FFF; }

/* Fade helper */
.fade { position: relative; }
.fade div { position: absolute; top: 0; left: 0; display: none; }

/* Modal */
span.modal-close{ background-position: -609px -82px; width: 23px; height: 25px; }

/* Layer */
.layer{ background-image: url('layer.png'); background-position: 0 0; background-repeat: no-repeat; }
a.layer{ display: block; }

/* buttons */
a.readmore{ width: 115px; height: 25px; background-position: -654px -119px; float: right; }
a.explore{ width: 107px; height: 32px; background-position: -654px -77px; }
a.arrow-left, a.arrow-right{ width: 23px; height: 23px; }
a.arrow-left{ background-position: -545px -82px; }
a.arrow-right{ background-position: -575px -82px; }

/* Tools */
.clear{ clear: both; }
.vam{ vertical-align: middle; }
.hidden{ display: none; }
.cornered{ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.bordered{ background-color: #FFF; border: 1px solid #DDD; padding: 2px; box-shadow: 0 0 5px #EEE; }
.shadow{ -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
.cleared:after, #content h1:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cleared{ display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .cleared{ height:1%; }
.cleared{ display:block; }
/* end clearfix */
